@import "../variables";

.dynamic-table-container{
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;    
    width: 100%; 
    padding-bottom: 1rem;


    th{
      html:not([data-skin="dark"]) & {
        background-color: darken($body-bg, 2.5%);
        color: $dark-highlight;
      }
      html[data-skin="dark"] & {
        background-color : darken($dark-highlight, 5%);
        color: $body-bg;
      }
    }    
  
    span, label{
      html:not([data-skin="dark"]) & {
        color: $dark-highlight;
      }
      html[data-skin="dark"] & {
        color: $body-bg;
      }
    }
  
    td{
      transition: all 0.25s ease-out;
      html:not([data-skin="dark"]) & {
        background-color: $body-bg;
        color: $dark-highlight;
      }
      html[data-skin="dark"] & {
        background-color : $dark-highlight;
        color: $body-bg;
      }
    }


    tr:hover {
      html[data-skin="dark"] & {
        background-image: linear-gradient(to right, $dark-highlight, rgba($color-ui-01, .25), $dark-highlight);
      } 

      html:not([data-skin="dark"]) & {
        background-image: linear-gradient(to right, $body-bg, rgba($color-ui-04, .75), $body-bg); 
      }

      td{
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: transparent;
      }
  }
}



  
.dynamic-table-container::-webkit-scrollbar {
    margin-top: 1rem;
    height: 12px;
    width: 100%;

    html[data-skin="dark"] & {
        background-color: darken($dark-highlight, 2.5%);
    }

    html:not([data-skin="dark"]) & {
        background-color: $body-bg;
    }
}

.dynamic-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    html[data-skin="dark"] & {
        background-color: darken($dark-highlight, 5%);
    }

    html:not([data-skin="dark"]) & {
        background-color: darken($body-bg, 2.5%);
    }
}
  
.dynamic-table-container::-webkit-scrollbar-thumb:hover {
    
    
    html[data-skin="dark"] & {
        background-color: darken($dark-highlight, 7.5%);
    }

    html:not([data-skin="dark"]) & {
        background-color: darken($body-bg, 5%);
    }
}