@import "../variables";

.dynamic-table-container {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
  
.dynamic-table-container::-webkit-scrollbar {
    height: 16px;
    width: 100%;
    background-color: $dark-primary;
}

.dynamic-table-container::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    border: 2px solid $dark-highlight;
}
  
.dynamic-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}